body {
    background-image: url("https://cdn.discordapp.com/attachments/968010917843435553/1064016049382625343/pikachu.jpg");
}

h2 {
    color: #3B4CCA;
}

input {
    visibility:hidden;
}

#deck-name {
    visibility: visible;

}

input:checked + label {
    /* background: highlight; */
}

h1 {
    margin-left: 15px;
}

.heading {
    color: white;
    background: blue;
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 5px;
}
.orbit-slide {
    /* background-color: orange; */
    position: absolute;
    padding: 8px;
    width: 80%;
    margin-left: 5vw;
    border: 2px solid black;
}

.orbit-image {
    padding: 0px;
    margin: 0px;
}

h3 {
    color:white;
    text-align: center;
}

.test-card {
    display: inline-block;
    border: 2px solid blue;
    height: 450px;
    background-color: blue;
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    max-width: 200px;
    margin-left: 10px;
    /* flex-direction: column; */
    margin-top: 10px;
    padding: 0px;
}

.test-button, .info-button {
    position: relative;
    color: white;
    width: 110px;
    left: 50px;
    /* align-items: center; */
    /* justify-content: center; */
    /* align-content: center; */
    /* flex-direction: column; */
    /* border: 2px solid white; */
}

.test-button:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.info-button:hover {
    box-shadow: 0px 0px 5px 5px white;
}

img:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.orbit-bullets:hover {
    box-shadow: 0px 0px 5px 5px white;
}

.orbit-bullets {
    position: relative;
    background-color: blue;
    background: linear-gradient( rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2px;

}

.test-button {
    position: relative;
    top: 10px;
}

.more-info {
    position: relative;
    top: 55px;
    padding: 0px;
}

.span-container {
    height: 650px;
    top: 450px;
}

.pokemon-roster {
    font-size: 40px;
    font-family: 'Chivo Mono', monospace;
    margin-bottom: 10px;
}

.form-container {
    width: 35%;

}

.pokemon-type {
    /* width: 400px; */
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #3B4CCA;
    background-color: #3B4CCA;
    padding: 4px;

}

.listlook {
    
    border-radius: 30px;
    

}
#water {
    background: #0af
}

#fire {
    background: #ff4040
}

#psychic {
    background: #c0d
}

#lightning {
    background: #fe0
}

#grass  {
    background: #3b3;
}

#dragon {
    background: #c49f1a;
}

#fighting {
    background: #c72;
}

#dark {
       background: #333;
}

#fairy {
    background: #e03a83;
}

#metal {
    background: silver;
}

#colorless {
    background: #f0f0f0;
}


header {
    height: 5vh;
}