body {
    background-image: url("https://cdn.wallpapersafari.com/0/52/7t85ML.jpg")
}

h2 {
    color:white;
    background:black;
}


.pokemon-type {
    border-style: solid;
    border-radius: 10px;
    border-width: 10pt;
    border-color: grey;
    background-color: black;

}

.listlook {
    
    border-radius: 30px;
    

}
#water {
    background: #0af 
}

#fire {
    background: #ff4040
}

#psychic {
    background: #c0d
}

#lightning {
    background: #fe0
}

#grass  {
    background: #3b3;
}

#dragon {
    background: #c49f1a;
}

#rock {
    background: #c72;
}

#darkness {
       background: #333;

}

#fairy {
    background: #e03a83;
}

#metal {
    background: silver;
}

#colorless {
    background: #f0f0f0;
}

